/* Defina o fundo azul-marinho */
body {
    background: url(/static/imgs/bodyBackground1.jpg);
    background-position: center;
    background-size: cover;
    color: #ffffff; /* Texto branco */
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 30px;
}

/* Estilize o título */
h1 {
    color: #ff0000;
    text-shadow: 0 0 30px rgb(255, 0, 0);
    font-family: Luminari, fantasy;
    font-stretch: extra-expanded;
    -webkit-text-stroke: 2px #000000;
    font-size: 24px;
    margin: 0;
    padding: 10px;
}

.titulo {
    font-size: 60px;
    padding: 30px;
}

.container {
    box-shadow: 0  0 20px #ff0000;
    background-color: #0000008e;
    margin-top: 20px;
}

#containerImgs {
    margin-top: 20px;
    border-radius: 10%;
    border-style: solid;
    border-width: 8px;
    border-color: black;
    padding: 15px;
}

.banner {
    display: inline-block;
    align-content: center;
    width: 340px;
    height: 470px;
    margin: 15px 50px 10px;
    background-color: black;
    border-radius: 5%;
    border-style: solid;
    border-width: 10px;
    border-color: #ff0000;
}

.image {
    display: inline-block; /* Substitua float: left por display: inline-block */
    width: 310px;
    height: 435px;
    margin: 15px 50px 10px;
    margin-left: 15px;
    overflow: hidden;
}

#imageLeft {
    background: url(imgs/scream.jpg);
    background-size: cover;
}

#imageRight {
    background: url(imgs/norbit.jpg);
    background-size: cover;
}

#imageCenter {
    background: url(imgs/todoMundoEmPanico.jpg);
    background-size: cover;
}

.arrow {
    display: inline-block;
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin-bottom: 140px;
    background: url(imgs/arrow.png);
    background-size: cover;
}

#arrowRight {
    rotate: 180deg;
}

form {
    width: 100%;
}

input {
    margin-top: 5px;
    margin-left: 3px;
    color: #000000;
    font-size: 26px;
    font-family: 'Courier New', Courier, monospace;
    width: 340px;
    height: 10px;
    padding: 20px 5px 5px;
    background-color: #b6b6b6;
    border: none;
    border-radius: 4px;
    padding-bottom: 20px;
}

input[readonly] {
    background-color: #4f4f4f; /* Cor de fundo para indicar "readonly" */
    color: #888; 
    cursor: not-allowed; 
}

.formFilters {
    display: inline-block;
    width: 95%;
    margin: 20px 0px 10px;
    position: relative;
}

.space {
    display: inline-block;
    height: 20px;
    width: 250px;
    overflow: hidden;
    background-size: cover;
}

label {
    margin-left: 0px;
    color: #fff;
    width: 100%;
    height: 100%;
}

span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.377);
    transition: all 0.3s ease;
}

#campoBox {
    display: inline-block;
    width: 370px;
    text-align: left;
}