<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Movie Filter</title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $(".movies").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "http://localhost:5000/autocomplete",
                        data: {
                            q: request.term
                        },
                        success: function (data) {
                            response(data);
                        }
                    });
                },
                minLength: 1,
            });
        });
    </script>

</head>

<body>
    <h1 class="titulo">Movie Filter</h1>

    <div class="container" id="containerGeral">

        <form class="formFilters" action="/submit" method="post"></form>

            <div class="container" id="containerImgInput">
            

                <div class="boxImgInput">
                    <div class="banner">
                        <img src="../static/imgs/FirstMovieImg.png" alt="Pôster do Filme" class="image" id="imageLeft">
                    </div>
                    <div class="campoBox">
                        <label for="firstMovie"><span>Digite o primeiro filme</span></label>
                        <input type="text" class="movies" id="firstMovie" name="firstMovie" autocomplete="on" required />
                    </div>
                </div>
                <div class="boxArrow">
                    <div class="arrow" id="arrowLeft">
                    </div>
                </div>

                <div class="boxImgInput">
                    <div class="banner">
                        <div class="image" id="imageCenter">
                        </div>
                    </div>
                    <div class="campoBox" id="labelSugestedMovie">
                        <label for="SugestMovie"><span>Filme sugerido</span></label>
                        <input type="text" id="SugestMovie" name="SugestMovie" autocomplete="off" value="{{ filme_return }}" readonly />
                    </div>
                </div>

                <div class="boxArrow">
                    <div class="arrow" id="arrowRight">
                    </div>
                </div>
                
                <div class="boxImgInput">
                    <div class="banner">
                        <img src="../static/imgs/SecondMovieImg.png" alt="Pôster do Filme" class="image" id="imageRight">
                    </div>
                    <div class="campoBox">
                        <label for="secondMovie"><span>Digite o segundo filme</span></label>
                        <input type="text" class="movies" id="secondMovie" name="secondMovie" autocomplete="on" required />
                    </div>
                </div>
                
            </div>
            <div class="boxSubmit">
                <input type="submit" value="Gerar">
            </div>
        </form>
    
    </div>

    <script>
        $(document).ready(function () {
            function updateImage(inputId, imageId) {
                $(`#${inputId}`).on('change', function () {
                    var texto = $(this).val();
                    $.ajax({
                        url: '/meu_form/' + inputId,
                        data: { [inputId]: texto },
                        type: 'POST',
                        success: function (response) {
                            // Atualize a imagem com a URL do pôster retornada pela API
                            document.getElementById(imageId).src = response.poster_url;
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                });
            }

            updateImage('firstMovie', 'imageLeft');
            updateImage('secondMovie', 'imageRight');
        });
    </script>
</body>

</html>