<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Movie Filter</title>
</head>

<body>
    <h1 class="titulo">Movie Filter</h1>

    <div class="container" id="containerImgs">
        <div>
            <div class="banner">
                <div class="image" id="imageLeft">
                </div>
            </div>
            <div class="arrow" id="arrowLeft">
            </div>
            <div class="banner">
                <div class="image" id="imageCenter">
                </div>
            </div>
            <div class="arrow" id="arrowRight">
            </div>
            <div class="banner">
                <div class="image" id="imageRight">
                </div>
            </div>

            <form class="formFilters" action="/submit" method="post">
                <div class="campoBox">
                    <label for="firstMovie"><span>Digite o primeiro filme</span></label>
                    <input type="text" id="firstMovie" name="firstMovie" autocomplete="off" placeholder="" required />
                </div>

                <div class="space"></div>

                <div class="campoBox" id="labelSugestedMovie">
                    <label for="SugestMovie"><span>Filme sugerido</span></label>
                    <input type="text" id="SugestMovie" name="SugestMovie" autocomplete="off" value="{{ filme_return }}" readonly />
                    <input type="submit" value="Gerar">
                </div>
                
                <div class="space"></div>

                <div class="campoBox">
                    <label for="secondMovie"><span>Digite o segundo filme</span></label>
                    <input type="text" id="secondMovie" name="secondMovie" autocomplete="off" required />
                </div>
            </form>
        </div>
    </div>
</body>

</html>